# Configuración de Conexión a Base de Datos (SQL Server)
# Copia este archivo como .env y edita los valores si es necesario.

DB_SERVER=Wender
DB_NAME=Tambo
DB_NAME_DISTRITOS=geoDistritosLima
DB_DRIVER=ODBC Driver 18 for SQL Server
